.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 50px;
}

.product-card {
  width: 270px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 10px;
  position: relative;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.discount-badge,
.installment-badge {
  position: absolute;
  top: 10px;
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: bold;
  color: white;
}

.discount-badge {
  left: 10px;
  background-color: #d70018;
}

.installment-badge {
  right: 10px;
  background-color: #2196f3;
}

h3 {
  font-size: 14px;
  margin: 10px 0;
}

.price-info {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.current-price {
  font-weight: bold;
  color: #d70018;
  font-size: 18px;
}

.old-price {
  text-decoration: line-through;
  color: #707070;
  font-size: 14px;
  margin-left: 5px;
}

.product-pay {
  font-size: 13px;
  color: #444;
  margin: 5px 0;
  background-color: #fff;
  padding: 8px 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e0e0e0;
  
  button {
    background-color: #fff;
    color: #d70018;
    border: 1px solid #d70018;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
    
    &:hover {
      background-color: #d70018;
      color: #fff;
    }
  }
}

.rating {
  color: #ffd700;
  font-size: 14px;
}

.like-button {
  color: #d70018;
  font-size: 20px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
